^{:css-dirs ["resources/public/css"]}
{:main the-bet.core
 :optimizations :advanced
 :output-dir "resources/public/js"
 :output-to "resources/public/js/main.js"
 :source-map "resources/public/js/main.js.map"}
